{% extends 'base.html.twig' %}

{% block title %}Edit Wine{% endblock %}


{% block body %}
<div class="wine-form">
    <h1>Edit Wine</h1>

    {{ include('wine/_form.html.twig', {'button_label': 'Update'}) }}

<div class="button-list">
    <a href="{{ path('app_wine_index') }}">back to list</a>

    {{ include('wine/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
