<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link href="/css/style.css" rel="stylesheet"/>
            <link href="/css/register.css" rel="stylesheet"/>
            <link href="/css/home.css" rel="stylesheet"/>
            <link href="/css/wine.css" rel="stylesheet"/>
            <link href="/css/winery.css" rel="stylesheet"/>




        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
              {% block header %}
                <header>
                    <nav
                            class="flex items-center justify-between flex-wrap p-6 fixed w-full z-10 top-0"
                            x-data="{ isOpen: false }"
                            @keydown.escape="isOpen = false"
                            :class="{ 'shadow-lg bg-gray-600' : isOpen , 'bg-gray-600' : !isOpen}">

                        <div class="flex items-center flex-shrink-0 text-white mr-6">
                            <a
                                    class="text-white no-underline hover:text-white hover:no-underline"
                                    href="/">
                                    <span class="text-2xl pl-2 font-extrabold">
                                        Wine QR Code
                                    </span>
                            </a>
                        </div>


                        <div
                                class="w-full flex-grow lg:flex lg:items-center lg:w-auto"
                                :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
                                @click.away="isOpen = false"
                                x-show.transition="true">

                            <ul class="navigation">
                                <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/"
                                            @click="isOpen = false">
                                        Home
                                    </a>
                                </li>

                                <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/wine"
                                            @click="isOpen = false"
                                    >Wine
                                    </a>
                                {% if app.user %}
                                </li>

                                         <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/user/me"
                                            @click="isOpen = false"
                                    >My account
                                    </a>
                                    {% if "ROLE_IS_PRO" in app.user.roles %}

                                           </li>
                                


                                     <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/wine/me"
                                            @click="isOpen = false"
                                    >My wines
                                    </a>
                                </li>
                                {% else %}
                                </li>
                                


                                     <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/user/favorite/wine"
                                            @click="isOpen = false"
                                    >Favoris
                                    </a>
                                </li>
                                {% endif %}
                                {% else %}
                                   <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/register"
                                            @click="isOpen = false"
                                    >Register
                                    </a>
                                </li>
                                {% endif %}
                                      <li class="mr-3">
                                    <a
                                            class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/{{ app.user ? 'logout' : 'login'}}"
                                            @click="isOpen = false"
                                    >{{ app.user ? 'logout' : 'login'}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
